<div data-hook="admin_wizard_form_fields">

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    
  <div class="field">
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </div>

  <div class="twelve columns alpha omega wizard-taxons">
    <div class="field">
      <%= f.label :taxon_id, Spree.t(:taxon) %>
      - <%= f.label "Position" %> 
      - <%= f.label "Pre-Selected Variant SKU" %>
      <br />
      <%= f.fields_for :wizard_taxons do |wf_form| %>
        <div class='wizard-taxon'>
          <%= wf_form.select :taxon_id, Spree::Taxon.order(:name).collect{|t|["#{t.name} - #{t.permalink}", t.id]}%>
          <%= wf_form.text_field :position, class: 'tf-short' %>
          <%= wf_form.text_field :sku, class: 'tf-medium' %>
          <%= wf_form.check_box '_destroy' %>
          <%= wf_form.label :delete %>
        </div>
        <br />
      <% end %>
    </div>
    <%= link_to 'Add Taxon', '#', id: 'add-taxon' %>
  </div>
  
  <div class="clear"></div>
  <div data-hook="admin_product_form_additional_fields"></div>
  <div class="clear"></div>
</div>

<% unless Rails.env.test? %>
  <script>
    $('.select2-container').css({width: '20em'})
  </script>
<% end %>
