<% content_for :page_title do %>
  <%= Spree.t(:wizards) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_wizard_link">
    <%= button_link_to Spree.t(:new_wizard), 
      new_admin_wizard_url, 
      { :remote => true, 
        :icon => 'icon-plus', 
        'data-update' => 'new_wizard', 
        :id => 'new_wizard_link' }
    %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>


<div id="new_wizard"></div>

<div id="new_wizard_wrapper" data-hook></div>

<table class="index" id='listing_wizards' data-hook>
  <colgroup>
    <col style="width: 28%">
    <col style="width: 28%">
    <col style="width: 10%; text-align: center">
    <col style="width: 10%">
  </colgroup>
  <thead>
    <tr data-hook="listing_wizards_header">
      <th><%= Spree.t(:permalink) %></th>
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:taxons) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @wizards.each do |wizard| %>
      <tr id="<%= spree_dom_id wizard %>" data-hook="listing_wizards_row" class="<%= cycle('odd', 'even') %>">
        <td><%= wizard.try(:permalink) %></td>
        <td><%= link_to wizard.name, edit_admin_wizard_path(wizard) %></td>
        <td><%= wizard.taxons.size %></td>
        <td class="actions">
          <%= link_to_edit(wizard, :no_text => true) %>
          <%= link_to_delete(wizard, :no_text => true) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
